*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signInCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 238, 238);
}
.signin{
    background-color: white;
    padding: 3% 6%;
    border: 1px solid #eee;
    display: inline-block;
    box-shadow: 3px 3px 9px #888888;
    border-radius: 7px;
}
.signin h1{
    font-weight: 400;
    margin: 4% 0;
}
.signin .entry{
  
    padding: 4% 0;
}
.entry input{
    padding: 2% 0;
    margin: 3% 0;
    border-radius: 4px;
    border: 1px solid gray;
}
.newUser{
    font-size: 14px;
}
.signin button{
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    color: rgb(236, 231, 231);
    border: none;
    width: 100%;
    padding: 4% 0;
    margin: 14% auto;
    border-radius: 7px;
}
.signin button:hover{
    color: white;
}
#error{
    margin: 3% 0;
    color: red;
}
#success{
    color: green;
}
